* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;

    img {
        width: 170px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    li {
        width: 170px;
    }

    a {
        text-decoration: none;
        color: orange;
    }

    a:hover {
        color: darkgoldenrod;
        transition: .5s;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
    }

    label {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

main {
    display: flex;
    justify-content: center;

    span {
        margin-top: 60px;

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            width: 500px;
            text-align: center;
        }

        img {
            width: 20px;
        }

        a {
            text-decoration: none;
        }

        label {
            cursor: pointer;
        }

        #buttons {
            margin-right: 40px;
        }

        button {
            margin-left: 10px;
            border-radius: 10px;
            padding: 5px;
        }

        #whats {
            width: 175px;
            height: 51px;
            font-size: 20px;
            border: none;
            background-color: #34C759;
            color: white;
        }

        #whats:hover {
            background-color: lightgreen;
            transition: .5s;
            cursor: pointer;
        }

        #insta {
            width: 200px;
            height: 51px;
            font-size: 20px;
            border: none;
            background: linear-gradient(to right, #F695F0, #E54C4C, #EE84F8, #E8DF81);
            color: white;
        }

        #insta:hover {
            transition: .5s;
            background: linear-gradient(to right, #E8DF81, #F695F0, #E54C4C, #EE84F8);
            cursor: pointer;
        }

        #twitter {
            width: 150px;
            height: 51px;
            font-size: 20px;
            border: none;
            background-color: #03a9f4;
            color: white;
        }

        #twitter:hover {
            background-color: lightskyblue;
            transition: .5s;
            cursor: pointer;
        }
    }

    video {
        width: 500px;
    }
}

article {
    margin-top: 80px;

    img {
        cursor: pointer;
        margin: 10px;
    }

    /* SELECIONA A DIV DE ONDE ESTIVER AS IMAGENS E ADICIONA O EFEITO DE CINZA NO QUE NAO ESTIVER SELECIONADO */
    .viagem:hover > :not(:hover) {
        transition: .5s;
        filter: grayscale(100%);
        opacity: 0.4;
        transform: scale(0.9);
    }

    .seta {
        width: 30px;
        cursor: pointer;
    }

    h2 {
        margin-left: 70px;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;

    }

    div {
        border-radius: 5px;
        background-color: white;
        border: 3px solid white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    #viagens {
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: #FF7F00;
        height: 250px;
        border-radius: 20px;
    }

    #ssa {
        width: 300px;
    }

    #cairu {
        width: 325px;
    }

    #praia {
        width: 277px;
    }
}

aside {
    margin: 20px;
    color: white;

    #valores {
        display: flex;
        justify-content: space-around;
    }

    .conteiner {
        border-radius: 20px;
        background-color: #FF7F00;
        width: 300px;
        height: 300px;
        padding: 20px;
        
            h3 {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 25px;
            }

            p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
            }
       
    }
    
}